/*
Theme Name: JupiterX Child
Description: Jupiter X Child Theme
Author: Artbees
Author URI: https://jupiterx.com
Template: jupiterx
Version: 1.5.0
Text Domain: jupiterx-child
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Add your custom CSS codes in assets/less/style.less */

/* single product page css start */
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#product-addtocart-button {
    width: auto;
    border: none;
    border-radius: 38px;
    font-size: 10px;
    margin-top: 0;
    line-height: 22px;
}
#product-addtocart-button span {
    font-size: 10px;
    margin: 0;
    color: black;
}
.variation {
    width: 100%;
    margin-left: 10px;

}
ul.multi-img{
    padding: 0px;
    list-style-type: none;
    margin-top: 15px;
}
ul.multi-img li {
    display: inline-block;
    margin-right: 5px;
}
ul.multi-img li img{
    border: 1px solid #e9e9e9;
    background: none;
    height: 50px;
    width: 50px;
    padding: 5px;
}
.product-info-main {
    width: 100%;
    max-width: 100%;
    min-height: 140px;
    padding: 30px 20px 10px 30px;
    right: 0px;
    /*margin-top: -182px;*/
    background: #ffffff;
    opacity: 0.9;
    /*border-radius: 5px 0px 0px 0px;*/
    top: -103px;

}
.price-box.price-final_price .price{
    border: 1px dashed #000;
    padding: 7px;
    line-height: 25px;
    margin-bottom: 25px;
}
.product-info-main h1{
    font-size: 25px;
    font-weight: bold;
    margin-top: -5px;
    line-height: 1.42857143;
    margin-bottom: 20px;

}
.product-datil-feature-img img{
    max-width: 100%;
}
.product-info-block{
    position: relative;
}
.price-final_price .price{
    font-size: 1.8rem;
    font-weight: 700;
    color: #ff6502;
}
.btn-block1 {
    float: none;
}
.btn-block1 a {
    background: #f9d2d2;
    border: 1px solid #000;
    font-weight: bold;
    padding: 10px 20px;
    color: #000;/*
    border-left: medium none;*/
    cursor: pointer;
    margin-left: -4px;
    margin-top: -7px;
    text-decoration: none;
    text-transform: uppercase;
        min-height: 41px !important;
    height: 41px !important;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.product_info_desc_box{
    margin-bottom: 25px;
}
.product_info_desc_box span{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
}
.moreLinks{
    cursor: pointer;
    color: #eda0a0 !important;
    outline: none;
}
.custom_product_info_title{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
.custom_product_attr_area .custom_product_attr_detail_dimension{
    border-bottom: 1px solid #e5e5e5;
    width: 46.5%;
    display: inline-block;
    padding-bottom: 25px;
    margin-top: 15px;
    text-transform: capitalize;
    margin-left: 15px;
    vertical-align: middle;
}
.product-info-custom-code .custom_product_info_area .custom_product_attr_label {
    font-size: 18px;
    font-weight: 600;
    width: 40%;
    float: left;
}
.product-info-custom-code .custom_product_info_area .custom_product_attr_value {
    width: 60%;
    float: left;
    padding-left: 20px;
}
.review-block {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px;
    margin-bottom: 35px;
    padding-top: 15px;
}
.write_review_button {
    padding: 12px 25px;
    border: 2px solid #f9d2d2;
    color: #000;
    max-width: 250px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}
.product-info-custom-code{
    margin-bottom: 15px;
    padding-bottom: 15px;
    float: left;
    width: 100%;
}
.clearfix{
    float: none;
    clear: both;
}
#comments{
    margin-top: 30px;
}
.feature-space{
  /*  background-color: #fff1f1;*/
    padding: 20px 25px;
    margin-top: 20px;
    width: 100%;
    float: left;
}
nav.raven-nav-menu-mobile.raven-nav-menu-dropdown{
    right: 0;
    width: 175px;
}
/************ MEdia Query ************/
@media (max-width: 767px){
    .custom_product_info_area{
        width: 100%;
        float: none;
    }
    .product-info-main {
       /* max-width: 250px;*/
        min-height: 80px;
        top: 0;
        position: relative;
        margin-bottom: 15px;
    }
    .custom_product_attr_area .custom_product_attr_detail_dimension{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1000px){
    .woocommerce:not(.jupiterx-product-template-9):not(.jupiterx-product-template-10) div.product div.woocommerce-product-gallery .flex-viewport {
        height: 375px !important;
        overflow:hidden;
    }
}
@media (min-width: 1001px){
    .woocommerce:not(.jupiterx-product-template-9):not(.jupiterx-product-template-10) div.product div.woocommerce-product-gallery .flex-viewport{
        /*height:450px !important;*/
        overflow:hidden;
    }
}
@media (max-width: 480px){
    .custom_product_info_title {
        font-size: 24px;
    }
    .woocommerce:not(.jupiterx-product-template-9):not(.jupiterx-product-template-10) div.product div.woocommerce-product-gallery .flex-viewport{
        height:155px !important;
        overflow:hidden !important;
    }
    .product-info-main{
        padding: 10px;
    }
    .woocommerce div.product div.woocommerce-product-gallery .flex-direction-nav {
        display: none;
    }
    .woocommerce div.product div.woocommerce-product-gallery .woocommerce-product-gallery__image img {
        height: 155px !important;
    }
    .product-info-main {
        top: -30px !important;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .woocommerce:not(.jupiterx-product-template-9):not(.jupiterx-product-template-10) div.product div.woocommerce-product-gallery .flex-viewport{
        height:270px !important;
        overflow:hidden;
    }
    .woocommerce div.product div.woocommerce-product-gallery .flex-direction-nav {
        top: calc(48.5% - 70px);
    }
}
@media (max-width: 380px){
    .jupiterx-main .product-info-main {
        top: -24px !important;
    }
}
.w3-content.w3-section.product-datil-feature-img { /*height: 450px; overflow: hidden;*/ }
/* single product page css end */
.custom_product_attr_area tr.custom-tr {
    width: 100%;
    border: 1px solid;
}
.custom_product_attr_area table {
    width: 100%;
}
.custom_product_attr_area td.custom-key {
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: top;
}
.custom_product_attr_area td {
    border-right: 1px solid;
    text-align: left;
    padding: 6px 10px;
    vertical-align: top;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #5B5B5B !important;
    display: block;
}
.product_info_desc_box p, .short-description span{
color: #666666;
}
.short-description {
    margin-top: 15px;
    margin-bottom: 30px;
}
.left_shop ul.product-categories {
    padding: 0;
}
.left_shop li#woocommerce_product_categories-2 {
    list-style: none;
    display: block;
}
.cat-item a {
    color: #000;
}
.shop-banner {
    padding-bottom: 18%;
    padding-top: 18%;
    background-size: cover;
    background-repeat: no-repeat;
}
.filterproductsection{
    padding-top: 4%;
    padding-bottom: 2%;
}
.filterproductsection .berocket_aapf_widget-title{
    display: none;
}
.filterproductsection ul.berocket_aapf_widget.berocket_style_block{
    padding: 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f3eeee;
    padding-bottom: 8px;
}
.filterproductsection .left_shopblock h3{
    font-family: Roboto Condensed;
    font-size: 26px;
    color: #222;
    font-weight: 700;
}
.filterproductsection .right_shopblock img{
    border: 01px solid #fdf7f7;
}
.filterproductsection .berocket_aapf_widget-title_div.disable_collapse {
    display: none;
}
div.berocket_single_filter_widget div.berocket_aapf_widget-wrapper * {
    color: #666666;
}
.filterproductsection  ul.products li.product h2.woocommerce-loop-product__title{
    min-height: 48px;
    padding-bottom: 0px;
}
.product-info-price { margin-top: 30px; }
.price-box.price-final_price span.price {
    width: 100% !important;
    min-width: 100% !important;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}
/*div#accordion, div#accordion2 {
    width: 50%;
    float: left;
}*/
/*div#accordion2 {
    padding-left: 3%;
}*/
#accordion2 h3, #accordion h3 {
    background-color: #fff1f1 !important;
    color: #000000 !important;
    outline: none;
}
.ui-icon-triangle-1-s {
    float: right !important;
    background-color: #000000 !important;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #c5c5c5 !important;
}
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 12px 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 2px solid #cecece;
    margin-top: 10px;
}

/*.active, .accordion:hover {
  background-color: #ccc; 
}*/

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
button.accordion { outline: none; }


div#panel {
    border: 2px solid #cecece;
    padding: 20px 18px;
    border-top: 0;
}
.custom_product_attr_area tr.custom-tr {
    border: 1px solid #eee;
}
.custom_product_attr_area td {
    border-right: 1px solid #eee;
}

@media(max-width: 767px){
    .product-info-block.right-sect {
    width: 100% !important;
    margin-left: 0 !important;
}
.woocommerce div.product div.images {
    width: 100% !important;
}
}

@media(max-width: 480px){
    .feature-space {
    /* background-color: #fff1f1; */
    padding: 20px 0px;
}
.custom_product_attr_area td {
    border-right: 1px solid #eee;
    font-size: 15px;
}
}
span.base { color: #FFC0CB;font-weight: 800; }
.custom-stock {color: #FFC0CB;font-weight: 800;}
.product-info-price { text-align: center !important; }

.product-info-custom-code {
    margin-bottom: 15px;
    padding-bottom: 15px;
    float: left;
    width: 100%;
    background: #f9f9f9;
}
button.accordion.accordion_head.active_custom {
    color: #f9d1d2;
    font-weight: bold;
    position: relative;
        padding-left: 34px;
}
/*button.accordion.accordion_head.active_custom:before {
    content: "";
    position: absolute;
    left: 11px;
    background: url(images/active.jpg);
    width: 16px;
    height: 11px;
    top: 18px;
}
button.accordion.accordion_head:before {
    content: "";
    position: absolute;
    left: 11px;
    background:url("images/non-active.jpg");
    width: 12px;
    height: 16px;
}*/
button.accordion.accordion_head{
    position: relative;
    padding-left: 34px;

}
.product-info-custom-code .feature-space {
    /* background-color: #fff1f1; */
    padding: 30px 43px;
}
span.plusminus {
    margin-right: 10px;
}
button.accordion.accordion_head.active_custom {
    pointer-events: none;
}
.fadeInDown { 
    animation-name: none !important;
 }

 ul.products li.pif-has-gallery a.woocommerce-loop-product__link:hover .wp-post-image--secondary {
   
  
}


a.xoo-qv-button:hover .pif-has-gallery .wp-post-image--secondary{
    opacity: 1;
}


/*=================My Css=========================*/
.right-info span.price {
    display: inline-block !important;
    padding: 0 18px;
}
.right-info h1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: -14px;
    line-height: 1.42857143;
    margin-bottom: 20px;
    display: inline-block;
}
.right-info {
    float: left;
    width: 50%;
    text-align: right;
}
.left-info {
    float: left;
    width: 50%;
}
.right-info button.new_inner_button {
    background: #f9d2d2;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    margin-left: -4px;
    text-decoration: none;
    text-transform: uppercase;
    min-height: 41px !important;
    height: 41px !important;
    display: inline-block;
    text-align: center;
    border-radius: 32px;
    width: auto;
}
.right-info form.cart {
    display: inline-block;
    margin: 0px !important;
}
.right-info span.woocommerce-Price-amount.amount {
    color: #000;
    font-weight: 600;
}
.left-info .custom-stock {
    color: #666666;
    font-weight: 400;
    font-size: 20px;
    padding-top: 9px;z`
}
.left-info a {
    color: #f9d6d6;
    font-weight: 600;
}
.info-product {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.prd-img {
    float: left;
    width: 47%;
    margin-left: 6%;
}
.short-desc {
    width: 47%;
    float: left;
}
.details-prod {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.prd-img img {
    height: auto;
    max-width: 65%;
    margin: 0 auto;
}
.short-desc table.custom_table {
    width: 100%;
}
.short-desc tr.custom-tr{
    border-bottom: 1px solid #ccc;
}
.custom-tr td {
    padding: 8px 0;
}
.short-desc h2 {
    margin: 35px 0 0!important;
    font-size: 18px !important;
}
td.custom-key {
    font-weight: 500;
    font-size: 14px !important;
}
.prd-img tr.custom-tr {
    border-bottom: 1px solid #ccc;
}
.prd-img h2 {
    margin: 20px 0 0!important;
    font-size: 18px !important;
}
td.custom-value {
    padding-left: 25px;
}
.prd-img ol.flex-control-nav.flex-control-thumbs.slick-initialized.slick-slider {
    display: none !important;
}
.prd-img ul.flex-direction-nav {
    display: none;
}
.prd-img a.woocommerce-product-gallery__trigger {
    display: none;
}
.related-prod a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.jupiterx-icon-shopping-cart-6 {
    display: none;
}
.related-prod a.xoo-qv-button {
    display: none;
}
img.secondary-image.attachment-shop-catalog.wp-post-image.wp-post-image--secondary.fadeOutUp {
    display: none;
}
.related-prod ul.products li.product a img {
    width: auto;
    height: 200px !important;
    margin: 0 auto;
    text-align: center;
}
.related-prod  h2.test.woocommerce-loop-product__title {
    font-size: 14px !important;
}
.related-prod {
    padding-top: 68px;
        display: none;
}
.related-prod .related h2 {
   display: none;
}
.related-prod .related .columns-4 h2 {
   display: block;
}
.related-prod span.woocommerce-Price-amount.amount {
    color: #fad2d2;
    font-weight: 600;
}
.short-desc h2{
    margin: 20px 0 0!important;
    font-size: 18px !important;
    text-transform: uppercase;
}
.tab-section {
    display: none;
}
button.new_inner_button:focus {
    outline: none;
}
.woocommerce.single-product .product .images img {
    display: block;
    width: auto !important;
   
    box-shadow: none;
    margin: 0 auto;
}
.woocommerce.single-product div.product div.images .slick-slide img {
    height: auto !important;
    width: 100% !important;
}
.desk-top{
    display: none;
}
h2.txt {
    display: none;
}
.left-info span {
    font-size: 1rem;
    color: #7a7a7a;
    margin-top: 6px;
    display: block;
}
img.zoomImg {
    position: relative !important;
    display: none !important;
}
.raven-search-form-full .raven-search-form-button {
    padding: 0 !important;
}
.woocommerce ul.products li.product span.posted_in{
    display: none;
}
.woocommerce.single-product .xoo-qv-main .product .images img {
    height: inherit !important;
}
input#cardknox-card-expiry {
    background: rgb(242, 242, 242);
    border: none;
    border-radius: 0;
    height: 58px;
}
.woocommerce .slick-initialized .slick-slide {
    display: none ;
}
.woocommerce div.product div.woocommerce-product-gallery .flex-control-thumbs {
    max-width: 100% !important;
    max-width: 500px !important;
    margin: 0 auto !important;
}
.tax-total small {
    display: none;
}
.jupiterx-wc-step-active .jupiterx-wc-step-title {
    color: #000 !important;
    opacity: 1;
}
.woocommerce ul#shipping_method li label {
    display: inline;
    text-transform: capitalize;
}
.woocommerce-message {
    border-top-color: #f9d6d6!important;
    color: #000;
}
h2.woocommerce-order-details__title{
	text-transform: uppercase;
}
/*=============================== Responsive =========================*/

@media(max-width: 1024px){
	
.raven-nav-menu-stretch .raven-nav-menu-mobile {
    position: absolute;
    width: 100% !important;
    left: auto !important;
}
.woocommerce.single-product .product .images img {
    height: auto !important;

}
nav.raven-nav-menu-mobile.raven-nav-menu-dropdown {
   max-height: 480px !important;
}
.elementor-149 .elementor-element.elementor-element-e601ded {
    width: 50% !important;
}
.elementor-149 .elementor-element.elementor-element-e601ded {
    width: 50% !important;
}
.elementor-149 .elementor-element.elementor-element-ec9101b {
    width: 100% !important;
}
img.attachment-medium_large.size-medium_large {
    max-width: 275px;
        width: 100%;
}
}

@media(max-width: 900px){
 .left-info {
    width: 22%;
}   
.right-info {
    float: left;
    width: 78%;
}
.woocommerce.single-product .product .images img {
    display: block;
    width: auto !important;
    height: auto !important;
    box-shadow: none;
    margin: 0 auto;
}
nav.raven-nav-menu-mobile.raven-nav-menu-dropdown {
   max-height: 470px !important;
}
}
@media(max-width: 815px){
.right-info {
    text-align: center;
}
.right-info h1 {
    display: block;
}
}
@media(max-width: 767px){
    .short-desc {
    width: 100%;
    float: none;
}
.prd-img {
    float: none;
    width: 100%;
    margin-left: 0;
}
.desk-top{
    display: block;
}
h2.txt {
    display: block;
}
.left-info {
    width: 100% !important;
}
.right-info {
    width: 100% !important;
    text-align: left;
    margin-top: 20px;
}
.tab-section {
    display: block;
}
.hide-mob {
    display: none;
}
.short-desc tr.custom-tr:last-child {
    border-bottom: 0;
}
.woocommerce.single-product .product .images img {
    height: auto !important;
}

.elementor-element.elementor-element-a65cba9.raven-column-flex-horizontal.elementor-column.elementor-col-33.elementor-top-column {
    width: 10%;
    text-align: left;
}
.elementor-element.elementor-element-e601ded.raven-column-flex-horizontal.elementor-column.elementor-col-33.elementor-top-column {
    width: 50%;
}
.woocommerce div.product .xoo-qv-summary .product_title {
    margin-bottom: 16px;
    font-size: 16px;
    color: #222;
    font-weight: 700;
    line-height: 21px;
}
.woocommerce .xoo-qv-main .xoo-qv-images {
    width: 100%!important;
}

.single-product div.product .xoo-qv-summary .alt.single_add_to_cart_button {
    background-color: #f4d3d3;
    padding: 7px 0px;
    width: 70%;
}
.elementor-149 .elementor-element.elementor-element-f432d74 .raven-search-form-container {
    text-align: right !important;
}
}


@media(max-width: 480px){
    .nav-tabs li {
    padding: 8px 11px !important;
}
.woocommerce div.product div.woocommerce-product-gallery .woocommerce-product-gallery__image img
{
    height: 349px !important;
}
.single-product.woocommerce:not(.jupiterx-product-template-9):not(.jupiterx-product-template-10) div.product div.woocommerce-product-gallery .flex-viewport{
        height:336px !important;
        overflow:hidden !important;
    }
    .woocommerce div.product div.woocommerce-product-gallery .flex-control-thumbs .slick-track {
    display: block;
    width: auto !important;
}

}
.slick-track{
    transform: unset !important;
    text-align: center;
}