.jupiterx-switch {
  font-size: 1rem;
  position: relative;
}

.jupiterx-switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}

.jupiterx-switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
  margin-bottom: 0;
}

.jupiterx-switch input + label::before,
.jupiterx-switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}

.jupiterx-switch input + label::before {
  left: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.jupiterx-switch input + label::after {
  top: 2px;
  right: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.jupiterx-switch input:checked + label::before {
  background-color: #08d;
}

.jupiterx-switch input:checked + label::after {
  margin-right: calc(2.375rem * .8);
}

.jupiterx-switch input:focus + label::before {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}

.jupiterx-switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}

.jupiterx-switch input:disabled + label::before {
  background-color: #e9ecef;
}

.jupiterx-switch.jupiterx-switch-sm {
  font-size: 0.875rem;
}

.jupiterx-switch.jupiterx-switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}

.jupiterx-switch.jupiterx-switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}

.jupiterx-switch.jupiterx-switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}

.jupiterx-switch.jupiterx-switch-sm input:checked + label::after {
  margin-right: calc(1.9375rem * .8);
}

.jupiterx-switch.jupiterx-switch-lg {
  font-size: 1.25rem;
}

.jupiterx-switch.jupiterx-switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}

.jupiterx-switch.jupiterx-switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}

.jupiterx-switch.jupiterx-switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}

.jupiterx-switch.jupiterx-switch-lg input:checked + label::after {
  margin-right: calc(3rem * .8);
}

.jupiterx-switch + .jupiterx-switch {
  margin-right: 1rem;
}

#wrap {
  margin-top: 20px;
}

#wrap > h1 {
  display: none;
}

.jupiterx-cp-wrap {
  margin: 20px 0 20px 0;
  overflow-x: hidden;
  max-width: 1200px;
  min-width: 850px;
  display: block !important;
}

.jupiterx-cp-wrap div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jupiterx-cp-wrap a, .jupiterx-cp-plugin-item {
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.jupiterx-cp-wrap p {
  font-size: 16px;
}

.jupiterx-modal-textarea {
  width: 100%;
  height: 150px;
  margin: 10px 0;
}

.jupiterx-cp-wrap a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.jupiterx-tooltip {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/tip.svg) no-repeat center center;
  background-size: contain;
  position: relative;
}

.jupiterx-tip-wrap {
  display: none !important;
}

/*
*  Control panel Header
*/
.jupiterx-cp-header {
  background: #222222;
  width: 100%;
  padding: 0 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.jupiterx-cp-jupiterx-logo {
  display: inline-block;
  margin-top: 5px;
  background: url(../images/logo.svg) no-repeat center center;
  float: right;
  width: 120px;
  height: 50px;
}

.jupiterx-cp-branding strong {
  font-size: 16px;
  color: #ffffff;
  line-height: 55px;
  vertical-align: middle;
  padding-right: 15px;
  display: inline-block;
  float: right;
}

.jupiterx-cp-theme-version {
  color: #b2b2b2;
  float: left;
  font-size: 16px;
  line-height: 55px;
  display: inline-block;
}

/***/
.jupiterx-cp-container {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
  position: relative;
  border: 1px solid #e5e5e5;
}

.jupiterx-cp-sidebar {
  background-color: #f8f9fa;
  border-left: 1px solid #e5e5e5;
  width: 200px;
  float: right;
  height: 100%;
  padding-bottom: 50px;
  position: absolute;
  right: 0;
  top: 0;
}

.jupiterx-cp-sidebar-list {
  display: block;
  list-style: none;
  padding-top: 5px;
}

.jupiterx-cp-sidebar-list-items {
  margin: 0;
}

a.jupiterx-cp-sidebar-link {
  color: #6c757d;
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  margin: 15px 30px;
}

.jupiterx-cp-sidebar-link:hover {
  color: #343a40;
}

.jupiterx-cp-sidebar-list-items.jupiterx-is-active .jupiterx-cp-sidebar-link {
  color: #007bff;
}

/* Panes */
.jupiterx-cp-panes {
  background-color: #fff;
  float: right;
  min-height: 700px;
  padding-bottom: 50px;
  position: relative;
  margin-right: 200px;
  width: calc(100% - 200px);
}

.jupiterx-cp-panes.loading-pane {
  opacity: 0.7;
}

.jupiterx-cp-pane-box {
  padding: 35px 40px;
}

.jupiterx-cp-pane-box:first-of-type {
  display: block;
}

.jupiterx-cp-pane-box > h3 {
  font-size: 26px;
  color: #343a40;
  margin-bottom: 20px;
}

/*------------------------------------------------*/
/* Control Panel Templates Page
/*------------------------------------------------*/
.jupiterx-restore-template-wrap {
  position: relative;
  display: none;
  text-align: left;
}

.jupiterx-restore-template-wrap.is-active {
  display: block;
  float: left;
}

.jupiterx-restore-template-wrap .btn {
  margin-bottom: 30px;
}

.jupiterx-cp-installed-template {
  margin: 0 0 50px 0;
  display: none;
}

.jupiterx-cp-install-template {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.jupiterx-cp-install-template h3 {
  padding-top: 14px;
  margin-bottom: 35px;
}

#js__installed-template,
.jupiterx-cp-template-items {
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

/* Template Item */
.jupiterx-cp-template-item {
  width: 33.33%;
  display: inline-block;
  float: right;
}

.jupiterx-cp-installed-template .jupiterx-cp-template-item {
  width: 50%;
}

.jupiterx-cp-template-item-fig {
  margin: 0 0 15px;
  line-height: 4px;
}

.jupiterx-cp-template-item-fig img {
  width: 100%;
  height: auto;
}

.jupiterx-cp-template-item-inner {
  position: relative;
  margin: 10px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.jupiterx-cp-template-item-inner .jupiterx-pro-badge {
  position: absolute;
  top: -5px;
  left: -5px;
}

.jupiterx-cp-template-item-inner:hover {
  -webkit-box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05), 0px 3px 7px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.05), 0px 3px 7px rgba(0, 0, 0, 0.07);
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.jupiterx-cp-template-item-name {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
}

.jupiterx .jupiterx-cp-template-search {
  top: 14px;
  width: 400px;
}

.abb-template-page-load-more {
  display: block;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.abb-template-page-load-more svg {
  display: none;
}

.abb-template-page-load-more.is-active svg {
  display: block;
  margin: 0 auto;
}

.jupiterx-missed-plugins-list > strong {
  display: block;
}

/*------------------------------------------------*/
/* Control Panel Install Plugins
/*------------------------------------------------*/
#js__jupiterx-plugins {
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-right: -11px;
  margin-left: -11px;
  min-height: 200px;
}

#js__jupiterx-plugins::after {
  content: ' ';
  -webkit-box-flex: 0;
  -ms-flex: 0 0 290px;
  flex: 0 0 290px;
  height: 0;
  margin: 11px;
}

.jupiterx-cp-plugins-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.jupiterx-cp-plugin-item {
  -ms-flex-preferred-size: 290px;
  flex-basis: 290px;
  width: 290px;
  margin: 11px;
}

.jupiterx-cp-plugin-item .btn {
  margin-left: 7px;
}

.jupiterx-cp-plugin-item .btn.network-active {
  background-color: #F8F9FA;
  color: #6C757D;
  border-color: #C5D2DF;
  cursor: default;
}

.jupiterx-cp-plugin-item .btn:last-child {
  margin-left: 0;
}

.jupiterx-cp-plugin-item[data-filter=active] .jupiterx-card {
  background-color: #EDF0F5;
}

.jupiterx-cp-plugin-item-inner {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  position: relative;
}

.jupiterx-cp-plugin-item-inner .jupiterx-pro-badge {
  position: absolute;
  top: -5px;
  left: -5px;
}

.jupiterx-cp-plugin-item-thumb {
  position: relative;
  display: inline-block !important;
  line-height: 4px;
}

.jupiterx-cp-plugin-item-thumb img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.jupiterx-cp-plugin-item-meta {
  width: 100%;
  display: block;
  clear: both;
  min-height: 130px;
}

.jupiterx-cp-plugin-item-name {
  color: #212529;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.jupiterx-cp-plugin-item-desc {
  font-size: 14px;
  color: #6c757d;
}

.jupiterx-cp-plugin-item-desc a {
  font-weight: 400;
}

.jupiterx-cp-plugin-update-tag {
  font-size: 11px;
  line-height: 14px;
  color: #6c757d;
  background-color: #fffbe5;
  border-radius: 3px;
  border: 1px solid #e9e2ba;
  padding: 2px 5px;
  font-weight: 300;
  position: absolute;
  top: 45px;
  left: 20px;
}

.jupiterx-cp-plugin-meta-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.jupiterx-cp-plugin-item-required {
  color: #f90303;
  border: 1px solid #f90303;
  padding: 3px 4px;
  border-radius: 3px;
  line-height: 12px;
  font-size: 12px;
  margin-bottom: 5px;
  display: none;
}

.h3 > .jupiterx-help-link {
  vertical-align: 6px;
}

.jupiterx-cp-plugin-item-required.is-active-true {
  display: inline-block;
}

.jupiterx-cp-plugin-item-version {
  font-size: 12px;
  line-height: 12px;
  color: #6c757d;
  background: #f8f9fa;
  padding: 2px 7px;
  border-radius: 20px;
}

/*------------------------------------------------*/
/* Control Panel System Status
/*------------------------------------------------*/
.table td:first-child {
  width: 33%;
}

.table td.help {
  width: 20px;
  padding-left: 0;
  padding-right: 0;
}

.status-state {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.status-state .spinner {
  float: none;
  margin: 0;
}

.status-true {
  background: url(../images/check-mark.svg) no-repeat;
  background-size: contain;
}

.status-false {
  background: url(../images/x-mark.svg) no-repeat;
  background-size: contain;
}

.status-invisible {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

#jupiterx-mods-cleanup {
  margin-top: -5px;
  margin-right: 5px;
}

#jupiterx-mods-cleanup:hover {
  text-decoration: none;
}

#jupiterx-textarea--get-system-report {
  display: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
}

#jupiterx-textarea--get-system-report textarea {
  font-family: monospace;
  width: 100%;
  margin: 0;
  height: 300px;
  padding: 20px;
  border-radius: 0;
  resize: none;
  font-size: 12px;
  line-height: 20px;
  outline: 0;
  margin-bottom: 15px;
}

.jupiterx-button--get-system-report {
  position: absolute;
  left: 25px;
  top: 25px;
}

.jupiterx-cp-inline-text {
  vertical-align: inherit;
}

/*------------------------------------------------*/
/* Control Panel Register Product
/*------------------------------------------------*/
.heading-with-icon {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 32px 32px;
  padding-right: 45px;
  margin-bottom: 1.2rem;
}

.icon-lock {
  background-image: url(../images/lock.svg);
}

.icon-learn {
  background-image: url(../images/graduation-cap.svg);
}

.icon-download {
  background-image: url(../images/download.svg);
}

.icon-checkmark {
  background-image: url(../images/check-mark.svg);
}

.list-with-icon {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  padding-right: 24px;
  margin-right: 10px;
  font-size: 14px;
}

.icon-video {
  background-image: url(../images/video-camera.svg);
}

.icon-docs {
  background-image: url(../images/book.svg);
}

.icon-community {
  background-image: url(../images/community.svg);
}

.icon-history {
  background-image: url(../images/history.svg);
}

/* FTP credential Modal */
#jupiterx-install-template-credential {
  margin-bottom: 15px;
  text-align: right;
}

#jupiterx-install-template-credential fieldset label {
  margin-left: 15px;
}

#jupiterx-install-template-credential input {
  height: 30px;
  margin-top: 0;
  width: 100%;
}

#jupiterx-install-template-credential input[type=radio] {
  display: inline-block !important;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}

#jupiterx-install-template-credential #request-filesystem-credentials-desc {
  padding: 0;
}

#jupiterx-install-template-credential .ftp-username, #jupiterx-install-template-credential .ftp-password {
  margin-top: 10px;
}

#jupiterx-install-template-credential #request-filesystem-credentials-desc {
  line-height: 18px;
  margin-bottom: 15px;
  text-align: right;
}

/*------------------------------------------------*/
/* Control Panel Image Sizes
/*------------------------------------------------*/
.jupiterx-img-size-item {
  width: 33.3%;
  display: inline-block;
  float: right;
}

.jupiterx-img-size-item:nth-child(3n):after {
  display: block;
  clear: both;
  content: "";
}

.jupiterx-img-size-item-inner {
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.jupiterx-img-size-wrap {
  width: 100%;
}

.jupiterx-img-size-item .status-state {
  vertical-align: bottom;
  margin-right: 5px;
}

.image-size-add-new-btn {
  position: absolute;
  left: 30px;
  top: 30px;
}

/*------------------------------------------------*/
/* Control Panel Theme Updates
/*------------------------------------------------*/
.jupiterx-cp-new-version-content ul ul {
  padding-right: 20px;
}

.jupiterx-cp-new-version-title {
  margin-bottom: 15px;
}

.jupiterx-cp-version-number {
  font-size: 16px;
  color: #343a40;
  font-weight: bold;
}

.jupiterx-cp-version-date {
  font-size: 12px;
  line-height: 12px;
  color: #6c757d;
  margin-right: 10px;
  background: #f8f9fa;
  padding: 2px 7px;
  border-radius: 20px;
}

.jupiterx-cp-new-version-content {
  color: #666;
}

/*------------------------------------------------*/
/* Control Panel Export & Import
/*------------------------------------------------*/
.jupiterx-cp-export-form label, .jupiterx-cp-import-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.jupiterx-cp-import-form {
  margin-top: 1rem;
}

/*---------------------------------------------------------------------------------*/
/* Show more content for updates pane
/*---------------------------------------------------------------------------------*/
.dynamic-wrap {
  -webkit-transition: max-height 0.35s ease-in-out;
  transition: max-height 0.35s ease-in-out;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body:not(.jupiterx-premium) .dynamic-wrap .jupiterx-changelog-pro {
  display: none;
}

.height-active .dynamic-wrap:before {
  content: '';
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  height: 40px;
  background: -webkit-gradient(linear, right top, right bottom, from(rgba(240, 249, 255, 0)), to(white));
  background: linear-gradient(to bottom, rgba(240, 249, 255, 0) 0%, white 100%);
  z-index: 1;
}

/*---------------------------------------------------------------------------------*/
/*  Loading Spinner
/*---------------------------------------------------------------------------------*/
.jupiterx-spinner {
  display: block;
  margin: 0 auto;
  width: 100%;
  -webkit-animation: jupiterx-rotator 1.4s linear infinite;
  animation: jupiterx-rotator 1.4s linear infinite;
}

@-webkit-keyframes jupiterx-rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

@keyframes jupiterx-rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
}

.jupiterx-spinner-path {
  stroke-dasharray: 187px;
  stroke-dashoffset: 0px;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: jupiterx-dash 1.4s ease-in-out infinite;
  animation: jupiterx-dash 1.4s ease-in-out infinite;
  stroke: #b3b3b3;
}

@-webkit-keyframes jupiterx-dash {
  0% {
    stroke-dashoffset: 187px;
  }
  50% {
    stroke-dashoffset: 46.75px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  100% {
    stroke-dashoffset: 187px;
    -webkit-transform: rotate(-450deg);
    transform: rotate(-450deg);
  }
}

@keyframes jupiterx-dash {
  0% {
    stroke-dashoffset: 187px;
  }
  50% {
    stroke-dashoffset: 46.75px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  100% {
    stroke-dashoffset: 187px;
    -webkit-transform: rotate(-450deg);
    transform: rotate(-450deg);
  }
}

.jupiterx-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-right-width: .25rem;
  border-radius: .25rem;
}

.jupiterx-callout h4 {
  margin-top: 0;
  margin-bottom: .45rem;
}

.jupiterx-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout-danger h4 {
  color: #dc3545;
}

.bd-callout-danger .dashicons {
  color: #6C757D;
  vertical-align: baseline;
}

.jupiterx-btn-info {
  vertical-align: baseline;
}

.jupiterx-btn-info img {
  vertical-align: -3px;
}

.bd-callout-danger {
  border-right-color: #dc3545;
}

.bd-callout-info h4 {
  color: #5bc0de;
}

.bd-callout-info {
  border-right-color: #5bc0de;
}

/*---------------------------------------------------------------------------------*/
/* Loading button
/*---------------------------------------------------------------------------------*/
.btn:not(.loading) .jupiterx-icon {
  display: none;
}

.btn .jupiterx-icon {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  vertical-align: -3px;
  -webkit-animation: jupiterx-full-rotate 1s infinite linear;
  animation: jupiterx-full-rotate 1s infinite linear;
}

.btn .jupiterx-icon:before, .btn .jupiterx-icon:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  border: .125em solid transparent;
  border-radius: 50%;
  content: '';
}

.btn .jupiterx-icon:before {
  border-color: initial;
  opacity: .2;
}

.btn .jupiterx-icon:after {
  border-top-color: initial;
}

@-webkit-keyframes jupiterx-full-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes jupiterx-full-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/*---------------------------------------------------------------------------------*/
/* Setup Wizard
/*---------------------------------------------------------------------------------*/
.jupiterx-setup-wizard-message {
  margin: 0 0 35px;
}

.jupiterx-setup-wizard-message p {
  margin: 0;
}

/*---------------------------------------------------------------------------------*/
/* Help Links
/*---------------------------------------------------------------------------------*/
.jupiterx .jupiterx-help-link:hover {
  text-decoration: none;
}

.jupiterx-cp-wrap .form-group .jupiterx-help-link {
  margin-bottom: 0.5rem;
}

h3 > .jupiterx-help-link {
  vertical-align: 5px;
}

/* Pro Banner */
.jupiterx-pro-banner {
  position: relative;
  margin-bottom: 45px;
  padding: 46px 32px 28px;
  background: #fafafa url(../images/pro-banner.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  color: #fff;
}

.jupiterx-pro-banner .jupiterx-icon-pro {
  position: absolute;
  top: 29px;
  left: 31px;
  font-size: 23px;
}

.jupiterx-pro-banner h1 {
  margin-bottom: 36px;
  font-size: 38px;
  font-weight: 300;
}

.jupiterx-pro-banner .btn {
  margin-bottom: 25px;
}

.jupiterx-pro-banner .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jupiterx-pro-banner ul {
  margin: 0;
  font-size: 16px;
}

.jupiterx-pro-banner ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jupiterx-pro-banner ul .jupiterx-icon-check-solid {
  margin: 1px 0 0 9px;
  opacity: 0.5;
}

/* Icons */
.jupiterx-cp-wrap [class^="jupiterx-icon-"]:before,
.jupiterx-cp-wrap [class*=" jupiterx-icon-"]:before {
  margin-left: 5px;
  vertical-align: -2px;
}

.jupiterx-cp-plugin-item-thumb.jupiterx-icon-cloud:before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: -16px;
  bottom: -9px;
  width: 30px;
  height: 30px;
  padding-bottom: 1px;
  padding-left: 1px;
  background: #41BCFF;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
}

.jupiterx-modal-learn-more {
  display: block;
  text-decoration: none;
}

.jupiterx-modal-learn-more:hover {
  text-decoration: none;
}

.jupiterx-modal-learn-more:before {
  vertical-align: -3px;
  vertical-align: -2px;
  margin-left: 5px;
}

/* Settings */
.jupiterx-cp-settings-form .jupiterx-pro-badge {
  margin-right: 4px;
  vertical-align: sub;
}

/* Free vs Pro */
.jupiterx-cp-sidebar-link.jupiterx-sidebar-item-colored {
  color: #f23c97;
}

#jupiterx-cp-comparison table, #jupiterx-cp-comparison th, #jupiterx-cp-comparison td {
  border: 1px solid #dfdfdf;
}

#jupiterx-cp-comparison table {
  width: 100%;
  border-collapse: collapse;
  color: #212529;
  line-height: normal;
}

#jupiterx-cp-comparison table th, #jupiterx-cp-comparison table td {
  padding: 15px 20px;
}

#jupiterx-cp-comparison table tr {
  height: 48px;
}

#jupiterx-cp-comparison table th {
  height: 88px;
  background: #f7f7f7;
  line-height: 1.75;
}

#jupiterx-cp-comparison table th.jupiterx-ct-first-col {
  width: 330px;
}

#jupiterx-cp-comparison table th.jupiterx-ct-free {
  width: 275px;
}

#jupiterx-cp-comparison table th.jupiterx-ct-free .jupiterx-ct-desc {
  color: #9aa7b3;
}

#jupiterx-cp-comparison table th.jupiterx-ct-pro {
  position: relative;
  width: 275px;
  background: #f23c97;
}

#jupiterx-cp-comparison table th.jupiterx-ct-pro .jupiterx-ct-title {
  color: #ffffff;
}

#jupiterx-cp-comparison table th.jupiterx-ct-pro .jupiterx-ct-desc {
  color: #ffbfe1;
}

#jupiterx-cp-comparison table th.jupiterx-ct-pro .jupiterx-icon-pro {
  position: absolute;
  color: #ffbfe1;
  font-size: 24px;
  top: 15px;
  left: 20px;
}

#jupiterx-cp-comparison table th .jupiterx-ct-title {
  font-size: 28px;
  font-weight: normal;
}

#jupiterx-cp-comparison table th .jupiterx-ct-desc {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

#jupiterx-cp-comparison table td {
  font-size: 16px;
}

#jupiterx-cp-comparison table td:last-of-type {
  background: #fff7fb;
}

#jupiterx-cp-comparison table td i {
  font-size: 20px;
}

#jupiterx-cp-comparison table td .jupiterx-icon-times {
  color: #DF2E3F;
  font-size: 26px;
}

#jupiterx-cp-comparison table td .jupiterx-icon-check {
  color: #0ACB82;
}

#jupiterx-cp-comparison table td.jupiterx-ct-feature-label {
  font-weight: bold;
}

#jupiterx-cp-comparison table td.jupiterx-ct-bg-normal {
  background: #ffffff;
}

#jupiterx-cp-comparison .jupiterx-btn-upgrade-pro {
  width: 180px;
  height: 49px;
  margin-bottom: 15px;
  font-size: 18px;
}

#jupiterx-cp-comparison .jupiterx-ct-learn-more {
  font-size: 14px;
  display: block;
}

#jupiterx-cp-comparison .jupiterx-ct-text-center {
  text-align: center;
}

.jupiterx-btn-upgrade-pro {
  background-color: #f23c97;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .jupiterx-cp-template-item {
    width: 50%;
  }
  .jupiterx-cp-plugin-item {
    width: calc( 50% - 22px);
    -ms-flex-preferred-size: calc( 50% - 22px);
    flex-basis: calc( 50% - 22px);
  }
}

/* Pro badge tooltip */
.jupiterx-pro-badge-tooltip {
  top: -5px !important;
}

.jupiterx-pro-badge-tooltip .arrow {
  margin: auto !important;
}

/* Plugins update conflicts table*/
.jupiterx_update_plugin_conflicts_table {
  width: 100%;
  margin: 15px 0;
}

.jupiterx_update_plugin_conflicts_table th, .jupiterx_update_plugin_conflicts_table td {
  text-align: right;
}

.jupiterx_update_plugin_conflicts_table th:first-child, .jupiterx_update_plugin_conflicts_table td:first-child {
  width: 50%;
}

.jupiterx_update_plugin_conflicts_table th:last-child, .jupiterx_update_plugin_conflicts_table td:last-child {
  width: 50%;
}

.jupiterx_update_plugin_conflicts_table th p, .jupiterx_update_plugin_conflicts_table td p {
  margin: 0;
  font-size: 16px;
}

/* Support */
.jupiterx-cp-support-item {
  border-radius: 4px;
  border: solid 1px #dfdfdf;
  margin-bottom: 30px;
}

.jupiterx-cp-support-item-header {
  padding: 20px 20px 0 20px;
}

.jupiterx-cp-support-item-header img {
  width: 21px;
  height: 24px;
  margin-bottom: 15px;
}

.jupiterx-cp-support-item-header .jupiterx-icon-pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f23c97;
  width: 36px;
  height: 36px;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.jupiterx-cp-support-item-header .jupiterx-icon-pro:before {
  margin: 0;
}

.jupiterx-cp-support-item h2 {
  color: #343a40;
  font-size: 18px;
  line-height: 1.67;
  font-weight: bold;
}

.jupiterx-cp-support-item-content {
  padding: 0 20px 20px 20px;
}

.jupiterx-cp-support-item-content p {
  font-size: 14px;
  color: #6c757d;
  line-height: 1.57;
}

.jupiterx-cp-support-item-content p:last-child {
  margin: 0;
}

.jupiterx-cp-support-item-content a {
  font-size: 14px;
  line-height: 1.57;
}

.jupiterx-cp-support-item-hot-topics {
  margin-top: 10px;
  padding: 20px;
  border-top: 1px solid #dfdfdf;
}

.jupiterx-cp-support-item-hot-topics h6 {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 1.57;
  margin-bottom: 15px;
}

.jupiterx-cp-support-item-hot-topics ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.jupiterx-cp-support-item-hot-topics ul li img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.jupiterx-cp-support-item-hot-topics ul li a {
  font-size: 14px;
}
